body {
    max-width: 1200px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: whitesmoke
}
h1 {
    text-align: center;
    margin: 10px;
}
h2 {
    font-size: 16px;
    margin: 5px;
}
hr {
    margin: 0;
}
.valuesContainer {
    display: flex;
    flex-wrap: wrap;
}
.valueBox {
    display: block;
    flex-grow: 1;
    margin: 5px;
    text-align: center;
}
input {
    width: 70px;
}
.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
}
.buttonBox {
    flex-grow: 1;
    margin: 5px;
    text-align: center;
}
.myButtons {
    border: 0;
    line-height: 2.5;
    padding: 0px 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(88, 86, 214);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.myButtons:hover {
    background-color: rgb(0, 122, 255);
}

.myButtons:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.mainContainer {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}
.Empty {
    display: inline-flex;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 122, 255);
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 5px;
}
.Fizz {
    display: inline-flex;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 45, 85);
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 5px;
}
.Buzz {
    display: inline-flex;
    width: 60px;
    height: 60px;
    background-color: rgb(52, 199, 89);
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 5px;
}
.FizzBuzz {
    display: inline-flex;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 204, 0);
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 5px;
}